.main-menu-container{
    color: #fff;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 8fr 1fr;
    padding-top: 40px;
}

.logo{
    max-height: 40px;
}

.contact-btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.unlisted{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.unlisted > *{
    padding: 0px 20px;
}