.footer{
    color: #fff;
}

.logo1{
    height: 40px;
}

.icons > *{
    color: #fff;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials > *{
    padding: 20px 20px;
}

@media screen and (max-width:600px) {
    .socials > *{
        padding: 10px 10px;
    }
}